{
  "gateway": {
    "bind": "lan",
    "port": 18789,
    "mode": "local",
    "trustedProxies": {{ openclaw_trusted_proxies | default([]) | to_json }},
    "auth": {
      "mode": "token",
      "trustedProxy": {
        requiredHeaders: ["x-forwarded-proto", "x-forwarded-host"],
      }
    },
    "controlUi": {
      "allowedOrigins": {{ openclaw_allow_origins | default([]) | to_json }},
      "dangerouslyDisableDeviceAuth": {{ openclaw_disable_device_auth | default(false) | to_json }}
    }
  },
  "agents": {
    "defaults": {
      "workspace": "~/.openclaw/workspace"
    }
  }
}
